@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}


/* Cards for my works */
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(219, 39, 119, 0.8),
        #141e2e80
    )!important;
}

/* Work page */


@media (max-width: 768px) {
    .work-page{
        padding-top: 80vh;
    }
    .skills-page{
        padding-top: 65vh;
     }
}

